
    <br>
    <div class="card">
        <div class="card-header bg-primary text-white">Contact information</div>
        <div class="card-body">
            <p>Classroom: {{classroom.RoomNo}}</p>
        </div> 
       
            <div class="card-footer">
                <button class="btn btn-warning text-black" (click)="getClassroom(classroom)">Update Information</button> || 
                <button class="btn btn-danger text-white" (click)="deleteClassroom(classroom)">Delete</button>
            </div>
        
    </div>
